[submodule "projects/cowJS"]
	path = projects/cowJS
	url = https://github.com/Feinbube/cowJS.git
[submodule "projects/rorschach"]
	path = projects/rorschach
	url = https://github.com/Feinbube/rorschach-android.git
[submodule "projects/numbers"]
	path = projects/numbers
	url = https://github.com/laena/number-app-android.git
